*{
    margin:0;
    padding:0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    box-sizing: border-box;
}

:root{
    --primary-lime: hsl(61, 70%, 52%);
    --primary-red: hsl(4, 69%, 50%);
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-s1: hsl(202, 86%, 94%);
    --neutral-s3: hsl(203, 41%, 72%);
    --neutral-s5: hsl(200, 26%, 54%);
    --neutral-s7: hsl(200, 24%, 40%);
    --neutral-s9: hsl(202, 55%, 16%);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input{
    outline-color: var(--primary-lime);
}
body{
    background-color: var(--neutral-s1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 64%;
    position: relative;
}
.left-container, .right-container{
    position: absolute;
}
/* LEFT CONTAINER */
.left-container{
    display: flex;
    flex-direction: column;
    gap:5px;
    width: 70%;
    height: auto;
    padding:20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--neutral-white);
    left:0px;
}
.left-container h3{
    font-size: 10px;
    font-weight: 600;
    color: var(--neutral-s7);
    margin: 5px 0 10px 0;
}
.container-one{
    display: flex;
    flex-direction: row;
    gap: 80px;
    margin: 4px;
}
.container-one h2{
    color: var(--neutral-s9);
    font-size: 15px;
}
.clear-btn{
    border:none;
    background-color: transparent;
    font-size: 10px;
    font-weight: 500;
    color: var(--neutral-s7);
    text-decoration: underline;
}

.container-t-a{
    display: flex;
    flex-direction: row;
    position: relative;
}
.container-two input{
    width: 95%;
    height: 30px;
    border: 1px solid var(--neutral-s5);
    border-left: none;
    border-radius: 3px;
    padding-left: 150px;
}

.currency-btn{
    width: 25px;
    height:30px;
    border:1px solid var(--neutral-s5);
    border-right: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: var(--neutral-s1);
    color: var(--neutral-s7);
    font-weight: 700;
    font-size: 10px;
    cursor: pointer;
    position: absolute;
}

.container-three{
    display: flex;
    flex-direction: row;
    gap:5px;
}
.container-th-a-a, .container-th-b-a{
    display: flex;
    flex-direction: row;
    position: relative;
}
.container-three input{
    width: 50%;
    height: 30px;
    border: 1px solid var(--neutral-s5);
    border-right:none;
    border-radius: 3px;
    padding-right:10px;
}
.years-btn, .percentage-btn{
    width: 30px;
    height:30px;
    border:1px solid var(--neutral-s5);
    border-left: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: var(--neutral-s1);
    color: var(--neutral-s7);
    font-weight: 700;
    font-size: 10px;
    cursor: pointer;
    position: absolute;
    left: 77px;
}
.years-btn{
    width: 50px;
    position: absolute;
    left: 76px;
}


.cont-option{
    display: flex;
    flex-direction: column;
    align-items: lef;
    justify-content: center;
    gap: 5px;
}
.cont-option label{
    width: 70%;
    height: 30px;
    border: 1px solid var(--neutral-s5);
    border-radius: 3px;
    padding: 10px;
    font-size: 10px;
    color: var(--neutral-s9);
    font-weight: 700;
    cursor: pointer;
}
.input-radio{
    margin-right:10px;
    vertical-align: middle;
    cursor: pointer;
}

.container-five{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3px;
    width:50%;
    background-color: var(--primary-lime);
    border-radius: 50px;
    padding: 7px;
    margin: 25px 0;
    cursor: pointer;
}
.container-five img{
    width: 12px;
    height: 12px;
}
.calculate-btn{
    border: none;
    background-color: transparent;
    font-size: 10px;
    font-weight: 700;
    color: var(--neutral-s9);
}

/* RIGHT CONTAINER */
.right-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 15px;
    background-color: var(--neutral-s9);
    width: 50%;
    height: 99% ;
    padding:20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 30px;
    right:0px;
}
.right-container img{
    margin: 0 auto;
    width: 150px;
    height: auto;
}
.right-container h1{
    color: var(--neutral-s1);
    font-size: 18px;
    text-align: center;
}
.right-container p{
    color: var(--neutral-s3);
    font-size: 10px;
    text-align: center;
}

/* FOOTER */
footer{
    font-size: 10px;
}

